h1{
    border-radius: 5rem;
    background-color: #0e43f1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: center;
    margin: 4px 2px;
    text-align: center;
}

.footer{
    color: rgb(249, 249, 249);
}